<div class="container mt-auto">
    <table *ngIf="offers" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">title</th>
            <th scope="col">Min. Units</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers">
            <th scope="row"><button routerLink='/offers/{{offer.id}}' mat-button color="primary">{{offer.id}}</button> </th>
            <td>{{offer.category}}</td>
            <td>{{offer.title}}</td>
            <td>{{offer.minUnits}}</td>
            <td><button routerLink='/offer/edit/{{offer.id}}' routerLinkActive="router-link-active" >Edit</button></td>
          </tr>
        </tbody>
      </table>
    
</div>